@import url('https://fonts.googleapis.com/css?family=Overpass');

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  height: 100%;
  background: #f9f7f7;
}

.main-container {
  display: flex;
  min-height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  background: #ffa270;
  color: #535353;
  min-height: 100vh;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.sidebar-button-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.sidebar-button-list ul {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  list-style: none;
}


.sidebar-button {
  height: 50px;
  width: 300px;
  text-align: center;
  margin: 4px;
  font-size: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 4;
  min-height: 100%;
}

.list-of-recipes {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

.recipe-form {
  display: flex;
  background: #efefef;
  padding: 1%;
  width: 800px;
  overflow-x: auto;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.form-title-ingredients {
  display: flex;
  flex-direction: column;
  padding: 0%;
}

.form-title {
  margin: 3%;
  font-size: 30px;
}

.form-ingredients {
  font-size: 15px;
}

.instructions {
}

.form-instructions-submit {
  display: flex;
  flex: 2;
}

.instructions {
  flex: 2;
  margin-left: 2%;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 700px;
  height: 400px;
  background: #efefef;
  /*border: 1px solid goldenrod;*/
  padding: 1%;
  margin: 2%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.recipe-title {
  display: flex;
  font-size: 30px;
  width: 100%;
  padding: 1%;
  justify-content: space-around;
}

.title-text {
  color: #535353;
  flex: 5;
}

mark {
  background-color: #bdeef2;
}

.edit-delete {
  flex: 1;
}

.recipe-contents-container {
  display: flex;
  height: 100%;
  width: 100%;
  color: #535353;
}

.recipe-ingredients {
  font-size: 20px;
  flex: 1;
}

.recipe-description {
  border: 1px solid black;
  flex: 4;
  text-align: left;
  padding: 1%;
}
