html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background: #f9f7f7;
}

.main-container {
  display: flex;
  min-height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  /*border: 1px solid goldenrod;*/
  /*background: #abe0a9;*/
  background: #efefef;
  color: #535353;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 4;
  min-height: 100%;
}

.recipe-form {
  display: flex;
  border: 1px solid black;
  padding: 1%;
  width: 800px;
  overflow-x: auto;
}

.form-title-ingredients {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  padding: 0%;
}

.form-title {
  margin: 3%;
  font-size: 30px;
}

.form-ingredients {
  font-size: 15px;
}

.instructions {
  border: 1px solid blue;
}

.form-instructions-submit {
  display: flex;
  flex: 2;
}

.instructions {
  flex: 2;
  margin-left: 2%;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  height: 400px;
  background: #efefef;
  /*border: 1px solid goldenrod;*/
  padding: 1%;
  margin: 2%;
}

.recipe-title {
  display: flex;
  font-size: 30px;
  width: 100%;
  padding: 1%;
  justify-content: space-around;
  border: 1px solid white;
}

.title-text {
  color: #535353;
  flex: 5;
}

.edit-delete {
  flex: 1;
}

.recipe-contents-container {
  display: flex;
  height: 100%;
  border: 1px solid blue;
  width: 100%;
  color: #535353;
}

.recipe-ingredients {
  border: 1px solid red;
  font-size: 20px;
  flex: 1;
}

.recipe-description {
  border: 1px solid black;
  flex: 4;
}
